

:root
{
    --basic-red: #EE3643;
    --hover-button-red: #CA2C37;
    --active-button-red: #BA2732;

    --basic-green: #63A63E;
    --hover-button-green: #5FBB2D;
    --active-button-green: #518534;
    --border-button-green: #367315;

    --basic-black: #000000;
    --lighter-black: #161D29;
    --opacity-black: rgba(0, 0, 0, 0.25);

    --lighter-blue: #32425C;
    --darker-blue: #293449;
    --darkest-blue: #1D2739;

    --shadow-blue: #405069;
    --gradient-blue: #212A3A;

    --basic-background-gray: #F1F5F7;
    --basic-extra-background-gray: #F7F3EC;
    --gray-neutral: #F9F5F0;
    --gray-extra-neutral: #F2F6F8;

    --basic-white: #FFFFFF;
    --border-white: #E5E5E5;

    --opacity-white: rgba(255, 255, 255, 0.3);
    --hover-button-greylight: rgba(197, 197, 197, 0.3);
    --active-button-greylight: rgba(169, 169, 169, 0.3);

    --basic-greylight: #C5C5C5;
    --hover-greylight: #B5B5B5;
    --border-greylight: #EAEAEA;
    --oldprice-greylight: #A9A9A9;

    --features-item-orange: #FFBF47;
    --features-item-blue: #3BBCE3;
    --features-item-pink: #DC91D8;
    --features-item-green: #8ED78F;
    --features-item-ginger: #FFC047;

    --white-cream: #FFD180;

    --form-lightgray: #d7dcde;
    --form-green: #00ca74;
    --form-border: #ababab;
    --form-shadow: #0e0909;
    --form-gray: #283136;
    --form-modal-gray: #F4F4F4;
    --form-modal-lightgray: #F1F1F1;
    
}

.page
{
    height: 100%;
}

.page-body
{
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

body
{
   margin: 0;
   padding: 0;
   background-color: var(--basic-white);
   background-position: top center;
   background-repeat: no-repeat;
   font-family: "Cuprum";
   font-size: 18px;
   color: var(--basic-black);
   line-height: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

img 
{
    max-width: 100%;
    height: auto;
}

.container 
{
    width: 940px;
    margin: 0 auto;
}


  /* Хедер
ххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххх
ххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххх
ххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххх
ххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххх
  */
.header-container
{
    height: 100%;
    background: var(--basic-background-gray);
}

/* Верхная часть хедера
===================================================================
===================================================================
===================================================================
===================================================================*/

.header-top
{
    height: 42px;
    background-color: var(--darker-blue);
}

.header-top .container
{
    display: flex;
}
/* Логотип в хедере
============================================================*/
  .header-logo
{
    display: block;
    width: 220px;
    height: 47px;

    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.header-logo-text
{
    padding-left: 55px;
    padding-top: 12px;
}

.header-logo:active
{
    background-color: var(--active-button-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}
/* ==========================================================*/

/* Форма Поиска
============================================================*/
.search-container
{
    width: 270px;
    height: 42px;

    background-color: transparent;

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

/* Кнопка поиска*/
.search-button
{
    width: 17px;
    height: 17px;
    background-image: url("/img/icons/icon-search.svg");
    border: none;
    outline: none;
    background-color: transparent;
    opacity: 30%;
}

/* Строка поиска*/
.search-field
{
    width: 228px;
    background-color: transparent;

    border: none;
    outline: none;

    color: var(--basic-black);
    font-size: 18px;
    line-height: 24px;
    opacity: 30%;
    
}

/* Состояния при взаимодействии*/
.search-field::placeholder
{
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
}

.search-container:focus-within
{
    background-color: var(--basic-white);
}


.search-button:hover, .search-field:hover
{
    opacity: 100%;
}

.search-field:focus + .search-button
{
    background-image: url("/img/icons/icon-search_red.svg");
    opacity: 100%;
}
.search-button:active
{
    background-image: url("/img/icons/icon-search_red.svg");
    opacity: 100%;
}
/* ============================================================*/

/* взаимодействие с товаром в хедере (Закладки, корзина, оформить заказ)
============================================================== */
.product-navigation-list
{
    width: 450px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    
}

.product-navigation-list li
{
    width: 150px;
    height: 42px;
}

a
{
    text-decoration: none;
}

.bookmark-link, .basket-link, .to-order-link
{
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);


    position: relative;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.bookmark-link::before
{
    content: "";
    width: 14px;
    height: 16px;
    margin-right: 9px;
    background-image: url("/img/icons/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 30%;
}

.basket-link::before
{
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 9px;
    background-image: url("/img/icons/icon-basket.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 30%;
}

.bookmark-link:hover::before, .basket-link:hover::before
{
    opacity: 100%;
}

.bookmark-link:active, .basket-link:active
{
    color: rgba(255, 255, 255, 0.5);
}

.basket-link:active::before, .bookmark-link:active::before
{
    opacity: 30%;
}

.bookmark-link:active
{
    background: var(--lighter-black);
}

/* Кнопка оформить заказ*/
.to-order-link
{
    background-color: var(--basic-green);
}

.to-order-link:hover
{
    background-color: var(--hover-button-green);
}

.to-order-link:active
{
    color: rgba(255, 255, 255, 0.5);
    background: var(--basic-green);
}


/* ===============================================================*/

/* конец вехней части хедера
===================================================================
===================================================================
===================================================================
===================================================================
 */


 /* Средняя часть хедера
===================================================================
===================================================================
===================================================================
===================================================================
 */


 /* Средний хедер контейнер
 =================================================================*/
 .header-center .container
 {
     height: 158px;
     position: relative;
 }

 /* Средний хедер текст*/
 .header-center-text
 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
    font-style: italic;

    position: absolute;
    left: 30px;
    top: 43px;
 }


 /* Контакты в центральном хедере
 ==============================================================*/
 .header-contacts
 {
     position: absolute;
     top: 46px;
     left: 320px;

     display: flex;
     flex-direction: column;
     align-items: center;


 }

 .header-contacts-number
 {
    width: 270px;
    height: 45px;
    border: 3px solid var(--basic-white);
    box-sizing: border-box;

    padding-left: 71px;
    padding-top: 4px;

 }

 .header-contacts-number a::before
 {
    content: "";
    width: 19px;
    height: 19px;
    background-image: url("/img/icons/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    left: -34px;
    top: 3px;
 }

 .header-contacts-number a
 {
     position: relative;
     color: var(--basic-red);

     font-weight: bold;
     font-size: 21px;
     line-height: 30px;

 }

 .header-contacts-adress
 {
    font-size: 14px;
    line-height: 24px;

    color: var(--lighter-blue);
 }

/* Средний хедер Авторизация
===========================================================*/

.header-authorization
{
    position: absolute;
    right: 0;
    top: 46px;
}

.authorization-before
{
    display: flex;
}

.login-link
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 121px;
    height: 45px;
    background-color: var(--basic-white);

    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);

    margin-right: 10px;
}

.registration-link
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 45px;
    background-color: var(--basic-white);

    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}

.login-link::before
{
    content: "";
    width: 20px;
    height: 17px;
    background-image: url("/img/icons/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 30%;
    margin-right: 6px;
    margin-left: -6px;
}

.login-link:hover, .registration-link:hover
{
    color: var(--basic-red);
}
.login-link:hover::before
{
    opacity: 100%;
}

.login-link:active, .registration-link:active
{
    color: var(--basic-greylight);
}
.login-link:active::before
{
    opacity: 30%;
}

/* Авторизованный пользователь
===================================================================*/

.authorization-success
{
    width: 299px;
}

.username-wrapper
{
    height: 45px;
    background: var(--basic-white);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 17px;

    margin-bottom: 7px;
}

.username-text
{
    font-size: 21px;
    line-height: 21px;
    text-align: center;
}

.username-wrapper::before
{
    content: "";
    width: 20px;
    height: 18px;
    background-image: url("/img/icons/icon-user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 30%;
}

.logout-link
{
    width: 20px;
    height: 17px;
    background-image: url("/img/icons/icon-logout.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 30%;
}

.logout-link:hover, .username-wrapper:hover::before
{
    opacity: 100%;
}

.logout-link:active
{
    opacity: 30%;
}

.my-orders-link, .account-management
{
    font-size: 16px;
    line-height: 18px;
    color: var(--lighter-blue);
}
.my-orders-link
{
    order: 1;
}
.account-management
{
    order: 3;
}

.extra-links-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.extra-links-wrapper::before
{
    order: 2;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: linear-gradient(0deg, var(--lighter-blue), var(--lighter-blue));
    margin-left: 14px;
    margin-right: 14px;
}

.my-orders-link:hover, .account-management:hover
{
    color: var(--basic-red);
}

.my-orders-link:active, .account-management:active
{
    color: var(--basic-greylight);
}


/* Конец среднего хедера
===================================================================
===================================================================
===================================================================
===================================================================
*/



/* Нижняя часть хедера
===================================================================
===================================================================
===================================================================
===================================================================
 */

/* Навигация по сайту
===================================================================*/

.header-navigation .container
{
    height: 60px;
    background-color: var(--lighter-blue);
    box-shadow: inset 0px -5px 0px var(--darker-blue);
    margin-bottom: 60px;

}

.header-navigation-list
{

    
    height: 100%;
    margin: 0;
    margin-right: 26px;
    margin-left: 26px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.header-navigation-item a
{
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);

}

.header-navigation-item
{
    flex-grow: 1;
}

.header-navigation-item:hover
{

    background: var(--darker-blue);
    box-shadow: inset 0px -5px 0px var(--darker-blue);
}

.header-navigation-item:active
{

    background: var(--darkest-blue);
    box-shadow: inset 0px -5px 0px var(--darker-blue);
    opacity: 50%;
}

/* Конец нижнего хедера
===================================================================
===================================================================
===================================================================
===================================================================
*/

  /* Конец хедера
ххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххх
ххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххх
ххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххх
ххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххх
  */


/* ГЛАВНЫЙ КОНТЕНТ Index.html
===================================================================
===================================================================
===================================================================
===================================================================
===================================================================
===================================================================*/

/* Блок с особенностями(+ Слайдер)
==================================================================*/

  .features
  {
      margin-top: 59px;
      width: 100%;
      height: 409px;

      display: grid;
      grid-template-columns: 300px 20px 300px 20px 300px;
      grid-template-rows: 123px 20px 123px 20px 123px;

  }

  .red-new-label
  {
      width: 100px;
      height: 30px;
      background-color: var(--basic-red);
      
      transform: rotate(45deg);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: -26px;
      top: 8px;
  }

  .red-new-label::after
  {
    content: "NEW";
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    
  }

  .features-item
  {
      position: relative;
      overflow: hidden;

      padding-top: 20px;
      padding-left: 23px;
  }

.features-materials
{
    background-color: var(--features-item-orange);
    grid-row: 1;
    grid-column: 1;

    background-image: url("/img/icons/features/icon-materials.svg");
    background-repeat: no-repeat;
    background-size: 44px 65px;
    background-position: 213px 31px;
}

.features-instruments
{
    grid-row: 1;
    grid-column: 3;
    background-color: var(--features-item-blue);

    background-image: url("/img/icons/features/icon-instruments.svg");
    background-repeat: no-repeat;
    background-size: 75px 61px;
    background-position: 194px 34px;
}

.features-technics
{
    grid-row: 1;
    grid-column: 5;
    background-color: var(--features-item-pink);

    background-image: url("/img/icons/features/icon-technics.svg");
    background-repeat: no-repeat;
    background-size: 78px 62px;
    background-position: 191px 31px;
}

.features-sales
{
    grid-row: 3;
    grid-column: 5;
    background: var(--features-item-green);

    background-image: url("/img/icons/features/icon-sales.svg");
    background-repeat: no-repeat;
    background-size: 59px 72px;
    background-position: 196px 26px;
}

.features-delivery
{
    grid-row: 5;
    grid-column: 5;
    background-color: var(--features-item-ginger);

    background-image: url("/img/icons/features/icon-delivery.svg");
    background-repeat: no-repeat;
    background-size: 78px 63px;
    background-position: 191px 32px;
}

.features-item h2
{
    margin: 0;
    padding: 0;
    margin-bottom: 14px;

    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    color: var(--basic-white);
}

.features-item-link
{
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;


    width: 135px;
    height: 38px;

    background-color: var(--opacity-white);
 
}

.features-item-link:hover
{
    background-color: var(--hover-button-greylight)
}

.features-item-link:active
{
    background-color: var(--active-button-greylight)
}


/* Слайдер
=====================================================================*/

.features-slider
{
    margin: 0;
    padding: 0;

    width: 620px;
    height: 266px;


    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 5;

    position: relative;
}

.features-slider-list
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.features-slider::before
{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    height: 81px;
    background-color: var(--opacity-black);
    padding-left: 24px;
    padding-top: 23px;
}

.slider-title
{
    margin: 0;

    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;

    color: var(--basic-white);
    margin-bottom: 5px;
    position: absolute;
    left: 24px;
    top: 23px;


}

.slider-subtitle
{
    font-size: 18px;
    line-height: 24px;

    color: var(--basic-white);
    position: absolute;
    top: 64px;
    left: 24px;
}

.features-controls-button-left
{
    position: absolute;
    top: 122px;
    left: 24px;

    width: 22px;
    height: 40px;
    background-image: url("/img/icons/icon-slider-left.svg");
    background-color: transparent;
    border: none;
    outline: none;
}

.features-controls-button-right
{
    position: absolute;
    top: 122px;
    right: 20px;

    width: 22px;
    height: 40px;
    background-image: url("/img/icons/icon-slider-right.svg");
    background-color: transparent;
    border: none;
    outline: none;
}

.features-button-catalog
{
    width: 192px;
    height: 38px;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);

    position: absolute;
    left: 24px;
    bottom: 27px;
}

.features-slider-indicator
{
    display: flex;



    position: absolute;
    left: 295px;
    bottom: 36px;

}

.features-slider-indicator-item
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--basic-white);

    border: none;
    outline: none;

    margin-right: 6px;
}
.indicator-current
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.indicator-current::before
{
    content: "";
    position: absolute;

    width: 6px;
    height: 6px;
    border-radius: 50%;

    background-color: var(--basic-red);
}

.features-slider-indicator-item:last-child
{
    margin-right: 0;
}

.features-slide
{
    display: none;
}
.features-slide-current
{
    display: block;
}
/* Популярные товары
====================================================================
*/
.pop-products
{
    margin-top: 59px;
}

/* Шапка популярных товаров
====================================================================*/
.pop-header
{
    height: 89px;

    background-color: var(--gray-neutral);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 14px;
}

.pop-header-title
{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--lighter-blue);
}

/* Красная кнопка макет*/
.red-button
{
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--basic-red);
}
.red-button:hover
{
    background: var(--hover-button-red);
}
.red-button:active
{
    background: var(--active-button-red);
}


.pop-header-button
{
    display: flex;
    width: 192px;
    height: 38px;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    line-height: 18px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;

    color: var(--basic-white);
}

/* Популярные товары контент
===============================================================*/
.products-list
{
    list-style-type: none;
    margin:0;
    padding: 0;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.products-item
{
    min-height: 318px;

    width: 220px;
    
    padding-top: 6px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 21px;

    margin-right: 20px;
    margin-top: 20px;

    background: var(--basic-white);
    border: 1px solid var(--border-greylight);
    box-sizing: border-box;


    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.pop-products .products-item:nth-child(4n)
{
    margin-right: 0;
}

.products-item-image
{
    margin: 0;
    padding: 0;

    width: 184px;
    height: 164px;


    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 8px;
}


.products-item-name
{
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;

    color: var(--basic-black);

    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 7px;

    flex-grow: 1;
}

.products-item-old-price
{
    display: block;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;

    text-decoration-line: line-through;
    text-transform: uppercase;
    text-align: center;


    color: var(--oldprice-greylight);

    margin-bottom: 13px;
}

.products-red-price
{
    margin: 0;
    margin-left: 27px;
    padding: 0;
    border-radius: 5px;
    width: 141px;
    height: 38px;
    background-color: var(--basic-red);

    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.products-red-price::after
{

    position: absolute;
    right: -17px;
    content: "";
    border: 19px solid var(--basic-white);
    border-left: 20px solid transparent;;
}

/* 
Популярные производители
==============================================================*/

.pop-manufacturers
{
    margin-top: 70px;
}
.pop-manufacturers > .pop-header
{
    padding-right: 19px;
    margin-bottom: 20px;
}

.pop-manufacturers-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pop-manufacturers-item
{
    width: 220px;
    height: 145px;
    margin-right: 20px;
    margin-bottom: 20px;

    background: var(--basic-white);
    border: 1px solid var(--border-greylight);
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}
.pop-manufacturers-item:nth-child(4n)
{
    margin-right: 0;
}
.pop-manufacturers-item:nth-last-child(-n + 4)
{
    margin-bottom: 0;
}

.pop-manufacturers-item:hover
{
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}
.pop-manufacturers-item:active
{
    opacity: 0.5;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

/* 
================================================================*/

/* Сервисы
================================================================*/

.services
{
    padding-top: 40px;
    margin-top: 70px;
    background-color: var(--basic-background-gray);
}

.services-title
{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;

    color: var(--basic-black);
}

.services-subtitle
{
    padding: 0;
    margin: 0;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;

    color: var(--basic-black);
}
/* Слайдер в Сервиса
===============================================================*/
.services-slider
{
    margin-top: 21px;
    position: relative;
    width: 100%;
    height: 334px;


}

.services-slide
{
    display: none;
}
.services-slide-current
{
    display: block;
}

.services-slider-list
{
    margin:0;
    padding: 0;
    list-style-type: none;
}

.services-slider-title
{
    position: absolute;
    left: 320px;
    top: 49px;

    padding: 0;
    margin: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--lighter-blue);
}

.services-slider-subtitle
{
    position: absolute;
    left: 320px;
    top: 106px;

    padding: 0;
    margin: 0;


    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;

    color: var(--basic-black);
}

.services-controls
{
    position: absolute;
    top: 49px;
    display: flex;
    flex-direction: column;

}

.services-controls-button
{
    width: 240px;
    height: 61px;
    background-color: var(--lighter-blue);
    box-shadow: 0px 1px 0px var(--darker-blue), inset 0px 1px 0px var(--shadow-blue);
    outline: none;
    cursor: pointer;

    font-weight: bold;
    font-size: 21px;
    line-height: 30px;

    color: var(--basic-white);
    padding-left: 21px;
    text-align: left;
}

.services-controls-button:hover:not(.services-controls-current)
{
    background-color: var(--darker-blue);
}

.services-controls-current 
{
    background-color: var(--basic-white);
    box-shadow: 0px 1px 0px var(--basic-white);
    color: var(--lighter-blue);
}


.services-slider-item img
{
    position: absolute;
    right: 0;
    bottom: 0;
}
/* Конец слайдера
============================================================*/


/* Компания техномарт и контакты*/
.index-columns .container
{
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;

}

.about-company
{
    width: 460px;
}

.index-contacts
{
    width: 300px;
}

.index-columns h2
{
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}

.index-columns p
{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);

    margin-top: 24px;
    margin-bottom: 0;
    padding-top: 1px;
}

.about-company ul
{
    list-style-type: none;
    margin-top: 3px;
    padding: 0;
}

.about-company li
{
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black);

    display: flex;
    align-items: center;

    margin-bottom: 12px;

}

.about-company li::before
{
    content: "";
    width: 25px;
    height: 3px;
    background-color: var(--basic-red);
    margin-right: 12px;
}

.index-contacts img
{
    margin-top: 32px;
    margin-bottom: 17px;
}

.about-company-button
{
    width: 220px;
    height: 38px;
}

.contacts-button-map
{
    height: 38px;
}

.about-company-button, .contacts-button-map
{
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;

}

/* ФУТЕР
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
*/

/* Верхняя часть футера*/

/* Первая строка топ футера*/
.footer-top
{
    background-color: var(--lighter-blue);
}


.footer-logo
{
    display: block;
    height: 48px;
    width: 179px;

    padding-top: 20px;
    padding-left: 41px;

    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);

    margin-right: 173px;

    flex-shrink: 0;
}

.footer-top-row
{
    display: flex;
    justify-content: space-between;
}

.footer-site-nav-list
{
    margin: 0;
    margin-top: 37px;
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
}

.footer-site-nav-item a
{
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.footer-site-nav-item a:hover
{
    text-decoration-line: underline;
}

.footer-site-nav-item a:active
{
    opacity: 0.5;
}


/* вторая строка топ футера*/
.footer-contacts
{
    font-size: 18px;
    line-height: 24px;

    color: var(--basic-white);
    margin-top: 22px;
    margin-left: 2px;
    margin-right: 92px;
    margin-bottom: 54px;

    flex-shrink: 0;
}

.footer-product-nav-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;

    margin-top: 27px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
}

.footer-product-nav-item a
{
    font-size: 18px;
    line-height: 24px;
    color: var(--white-cream);
}

.footer-product-nav-item a:hover
{
    text-decoration-line: underline;
}

.footer-product-nav-item a:active
{
    opacity: 0.5;
}

/* Нижняя часть футера*/

.footer-bottom
{
    background-color: var(--darker-blue);
}

.footer-bottom .container
{
    display: flex;
    padding-top: 35px;
    padding-bottom: 35px;
    justify-content: space-between;
}

.footer-bottom p
{
    margin: 0;
    padding-top: 2px;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.footer-feedback a, .footer-developer a
{
    color: var(--white-cream);
}

.footer-feedback a:hover, .footer-developer a:hover
{
    text-decoration-line: underline;
}

.footer-feedback a:active, .footer-developer a:active
{
    color: var(--basic-red);
    text-decoration-line: none;
}


.footer-social
{
    margin-left: 70px;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-button
{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: linear-gradient(0deg, var(--gradient-blue), var(--gradient-blue));

    display: flex;
    align-items: center;
    justify-content: center;
}

.social-button:hover
{
    background: var(--basic-red);
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/* СТРАНИЦА КАТАЛОГА ТОВАРОВ
====================================================================================*/

.page-catalog .container
{
    display: grid;
    grid-template-columns: 240px 1fr;
    align-content: start;
}


/* Хлебные крошки
==================================================================================*/
.breadcrumbs-homepage
{
    display: block;
    width: 14px;
    height: 12px;
    margin-top: 2px;

    background-image: url("/img/icons/icon-home.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
}

.page-catalog .breadcrumbs
{
    grid-column: 1 / -1;
}

.breadcrumbs
{
    list-style-type: none;
    margin: 0;
    margin-top: 21px;
    margin-bottom: 20px;
    padding: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.breadcrumbs li, .breadcrumbs a
{
    font-family: PT Sans;
    font-size: 13px;
    line-height: 18px;

    text-transform: uppercase;
    color: var(--basic-black);
}
.breadcrumbs li:not(:last-child)
{
    position: relative;
    margin-right: 41px;
}

.breadcrumbs li::after
{
    content: "";
    right: -23px;
    top: 3px;
    position: absolute;
    width: 8px;
    height: 12px;
    background-color: transparent;
    background-image: url("/img/icons/icon-right-small.svg");
}

.breadcrumbs-current::after 
{
    display: none;
}


/* Заглавие страницы
============================================================================*/
.page-catalog .page-title
{
    grid-column: 1 / -1;
    display: block;
    padding-top: 29px;
    padding-bottom: 30px;
    padding-left: 29px;
    margin: 0;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    
    color: var(--lighter-blue);
    background-color: var(--gray-extra-neutral);
}

/* Фильтры товаров
=======================================================================================*/

.filters
{
    width: 220px;
    grid-column: 1 / 1;

}

.filters h2
{
    margin: 0;
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;

    color: var(--basic-black);

    background-color: var(--basic-extra-background-gray);
}

/* Фильтр цены
=====================================================================================*/

.filters legend
{
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;

    color: var(--basic-black);
}

.filter-price
{
    margin: 0;
    margin-top: 14px;
    padding: 0;
    border: none;
}

.range-filter
{
    margin-top: 11px;
}

.range-controls
{
    position: relative;
    margin-bottom: 9px;
    height: 41px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: var(--basic-extra-background-gray);
    border-radius: 5px;
}

.range-controls .scale
{
    height: 2px;
    background: var(--form-lightgray);
}

.range-controls .bar
{
    width: 70%;
    height: 2px;
    background-color: var(--form-green);
}

.range-controls .toggle 
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--form-border);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--form-shadow);
    cursor: pointer;
}

.range-controls .toggle-min
{
    left: 18px;
}
  
.range-controls .toggle-max 
{
    left: 160px;
}

.price-controls input
{
    width: 85px;
    padding: 10px 0px;
    padding-left: 10px;
    text-align: center;
    color: var(--form-gray);
    border: none;
    border-radius: 5px;
    background-color:  var(--basic-extra-background-gray);
    
    text-transform: uppercase;
    font-family: PT Sans;
    font-size: 17px;
    line-height: 18px;

}

.price-controls::after
{
    content: "";
    position: absolute;
    top: 50%;
    left: calc(50% - 5px);
    width: 10px;
    height: 1px;
    background-color: var(--basic-black);
}

.price-controls
{
    position: relative;
    display: flex;
    justify-content: space-between;
}

/* Фильтр фирм
==============================================================================*/

.filter-manufacturers
{
    padding: 0;
    margin: 0;
    margin-top: 42px;
    border: none;
    position: relative;
}

.filter-manufacturers::before
{
    top: -17px;
    left: 0;
    content: "";
    width: 220px;
    height: 1px;
    background: var(--basic-extra-background-gray);
    position: absolute;
}

.filter-manufacturers ul
{
    padding: 0;
    margin: 0;
    margin-top: 18px;
    list-style-type: none;
    line-height: 19px;
}

.filter-option
{
    margin-bottom: 20px;
    padding-left: 35px;
}
.filter-option:last-child
{
    margin-bottom: 0;
}

.filter-option label
{
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;

    font-family: "PT Sans";
    font-size: 15px;
    text-transform: uppercase;

}

.filter-input-checkbox + label::before
{
    content: "";
    position: absolute;
    left: -35px;
    top: -3px;
    width: 19px;
    height: 19px;
    border: 2px solid var(--basic-greylight);
    border-radius: 3px;
}

.filter-input-checkbox:enabled + label:hover::before
{
    border-color: var(--hover-greylight);
}
.filter-input-checkbox:checked:enabled + label:hover::after
{
    border-bottom-color: var(--hover-greylight);
    border-left-color: var(--hover-greylight);
}

.filter-input-checkbox:disabled + label
{
    opacity: 0.4;
    cursor: default;
}


.filter-input-checkbox:checked + label::after
{
    content: "";
    position: absolute;
    left: -30px;
    top: -1px;
    width: 16px;
    height: 7px;

    border-bottom: 4px solid var(--basic-greylight);
    border-left: 4px solid var(--basic-greylight);

    transform: rotate(-45deg);
}

/* Фильтр радиобаттон Питание
=================================================================================*/
.filter-power
{
    padding: 0;
    margin: 0;
    margin-top: 45px;
    margin-bottom: 37px;
    border: none;
    position: relative;
}

.filter-power ul
{
    padding: 0;
    margin: 0;
    margin-top: 23px;
    list-style-type: none;
    line-height: 19px;
}

.filter-power::before
{
    top: -17px;
    left: 0;
    content: "";
    width: 220px;
    height: 1px;
    background: var(--basic-extra-background-gray);
    position: absolute;
}

.filter-power .filter-option:not(:last-child)
{
    margin-bottom: 23px;
}

.filter-input-radio + label::before 
{
    content: "";
    position: absolute;
    left: -35px;
    top: -1px;
    width: 17px;
    height: 17px;
    border: 4px solid var(--basic-greylight);
    border-radius: 50%;
}

.filter-input-radio:checked + label::after 
{
    content: "";
    position: absolute;
    top: 7px;
    left: -27px;
    width: 9px;
    height: 9px;
    background-color: var(--basic-greylight);
    border-radius: 50%;
}

.filter-input-radio:enabled + label:hover::before
{
    border-color: var(--hover-greylight);
}

.filter-input-radio:enabled:checked + label:hover::after
{
    background-color: var(--hover-greylight);
}

.filter-input-radio:disabled + label
{
    opacity: 0.4;
    cursor: default;
}

.filter-button
{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;

    font-family: PT Sans;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);

    text-transform: uppercase;

    background-color: var(--basic-white);
    border: 1px solid var(--border-white);
    box-sizing: border-box;
}

/* Карточки с товарами, основной контент
==================================================================
==================================================================*/
.catalog
{
    grid-column: 2 / 2;
}


/* Сортировка товаров */

.sorting-wrapper
{
    display: flex;

    padding-left: 20px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;


    background-color: var(--basic-extra-background-gray);
}

.sorting-wrapper h2, .sorting-item a
{
    margin: 0;
    padding: 0;

    display: block;
    font-family: PT Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.sorting-wrapper h2
{
    flex-grow: 1;
}

.sorting-item:not(.current-sorting-item) a
{
    opacity: 0.3;
    border-bottom: 1px dotted var(--basic-red);
}

.sorting-item:not(.current-sorting-item) a:hover
{
    opacity: 1;
    border-bottom: 1px solid var(--basic-red);
}

.current-sorting-item a
{
    opacity: 1;
    border-bottom: 0;
    color: var(--basic-red);
}


.sorting-list
{
    margin-left: 140px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;

}


.sorting-controls
{
    display: flex;
    margin-left: 46px;
}

.sorting-controls a
{
    line-height: 18px;
}

.up-sorting-control
{
    margin-right: 21px;
}

.up-sorting-control:not(.current-sorting-control) svg:hover path, .down-sorting-control:not(.current-sorting-control) svg:hover path
{
    fill: var(--basic-black);
}

.current-sorting-control svg path
{
    fill: var(--basic-red);
}

/* Список товаров каталога
==================================================*/
.catalog .products-item
{
    margin-top: 18px;
}
.catalog .products-item:nth-child(3n)
{
    margin-right: 0;
}

.catalog .products-list
{
    margin-top: 8px;
    margin-bottom: 48px;
}


/* Скрытая область с кнопками*/
.products-item-hidden
{
    display: none;
}

.products-item:hover .products-item-hidden
{
    display: block;
}

.products-item:hover
{
    box-shadow: 0px 4px 4px var(--opacity-black);
    box-sizing: border-box;
}


.products-item:hover .products-item-image
{
    display: none;
}

.products-item-hidden
{
    width: min-content;

    padding-top: 30px;


    flex-direction: column;
    justify-content: center;

    margin: auto;
    margin-bottom: 8px;
}

/* Кнопка Купить*/

.products-item-button-buy
{
    min-width: 135px;
    min-height: 38px;

    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;

    background-color: var(--basic-green);

    box-shadow: inset 0px -3px 0px var(--border-button-green);
    border-radius: 2px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.products-item-button-buy::before
{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-left: -10px;
    background-image: url("/img/icons/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 30%;
}

.products-item-button-buy:hover
{
    background-color: var(--hover-button-green);
}

.products-item-button-buy:active
{
    background-color: var(--active-button-green);
}

/* Кнопка В закладки*/

.products-item-button-bookmark
{
    min-width: 135px;
    min-height: 38px;

    background-color: var(--basic-white);
    border: 3px solid var(--basic-green);
    box-sizing: border-box;
    border-radius: 2px;

    margin-bottom: 48px;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    color: var(--lighter-blue);
}

.products-item-button-bookmark:hover
{
    border-color: var(--lighter-blue);
}

.products-item-button-bookmark:active
{
    opacity: 0.5;
}

/* Пагинация */

.pagination-list
{
    list-style-type: none;
    margin: 0;
    margin-bottom: 59px;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
}

.pagination-item
{
    margin-right: 10px;
}

.pagination-item a
{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 15px;

    border: 1px solid var(--border-white);
    box-sizing: border-box;
    border-radius: 2px;

    font-family: PT Sans;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
}

.pagination-item:last-child a
{
    padding-left: 32px;
    padding-right: 31px;
}

.pagination-item-current a
{
    background-color: var(--basic-red);
    color: var(--basic-white);
}

.pagination-item:not(.pagination-item-current):hover a
{
    border-color: var(--basic-greylight);
}

.pagination-item:not(.pagination-item-current):active a
{
    border-color: var(--basic-red);
}

/* Блок дополнительной информации*/

.extra-info-block
{
    background-color: var(--basic-background-gray);
    padding-top: 64px;
    padding-bottom: 68px;
}

.extra-info-block .container
{
    display: block;
}

.extra-info-block h2
{
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--basic-black);
}

.extra-info-block p
{
    margin: 0;
    padding: 0;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

/* Модальные Окна Index.html
=====================================================
=====================================================
=====================================================*/

.modal 
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: none;
    box-sizing: border-box;
    border-top: 7px solid var(--basic-red);
    background-color: var(--basic-white);
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}


/* Модальное окно карта*/
.modal-map
{
    width: 943px;
    height: 449px;
}

.modal-map iframe 
{
    border: none;
}

.modal-show 
{
    display: block;
    animation: bounce 0.6s;
}
  
.modal-error 
{
    animation: shake 0.6s;
}

.modal-close 
{
    position: absolute;
    top: 17px;
    right: 10px;
    width: 21px;
    height: 1px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after 
{
  content: "";
  position: absolute;
  top: 0px;
  left: -2px;
  width: 27px;
  height: 4px;
  background-color: var(--basic-red);
}

.modal-close::before
{
    transform: rotate(45deg);
}
  
.modal-close::after
{
    transform: rotate(-45deg);
}

/* Модальное окно Написать нам*/

.modal-write-us
{
    width: 620px;
    height: 430px;
}

.modal-write-us label
{
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 11px;
}


.modal-write-us input, .modal-write-us textarea
{
    background-color: var(--basic-white);
    border: 2px solid var(--basic-greylight);
    box-sizing: border-box;
    border-radius: 2px;

    padding-left: 12px;
    padding-right: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.modal-write-us input::placeholder, .modal-write-us textarea::placeholder
{
    font-family: PT Sans;
    font-size: 13px;
    line-height: 24px;

    color: var(--oldprice-greylight);
}

.modal-write-us textarea
{
    height: 114px;
}

.write-us-top
{
    width: 460px;
    margin: 0 auto;
    margin-top: 39px;

    display: flex;
    flex-wrap: wrap;
}

.write-us-item
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.write-us-item:first-child
{
    margin-right: 20px;
    margin-bottom: 13px;
}

.write-us-bottom
{
    padding-top: 37px;
    padding-bottom: 37px;
    margin-top: 37px;
    background-color: var(--form-modal-gray);
}

.write-us-bottom button
{
    margin: 0 auto;
    width: 460px;
    padding-top: 9px;
    padding-bottom: 9px;

    font-size: 14px;
    line-height: 18px;

    text-transform: uppercase;
    color: var(--basic-white);
}

.modal-write-us .modal-close
{
    right: 11px;
    top: 21px;
}

/* Модальные Окна Catalog.html
====================================================
=====================================================
=====================================================*/

.modal-basket
{
    width: 620px;
    height: 282px;
}

.modal-basket .modal-close
{
    right: 11px;
    top: 18px;
}

.modal-basket h3
{
    display: block;
    width: 326px;
    padding: 0;
    margin: 0 auto;

    margin-top: 66px;
    text-align: center;

    position: relative;

    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-black);
}

.modal-basket h3::before
{
    content: "";
    width: 66px;
    height: 66px;
    background-image: url("/img/icons/icon-basket-success.svg");

    position: absolute;
    left: -66px;
    top: -19px;
}

.modal-basket-buttons a, .modal-basket-buttons button
{

    margin-top: 37px;
    margin-bottom: 37px;
    width: 192px;
    height: 38px;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    color: var(--basic-white);
}

.modal-basket-buttons button
{
    margin-left: 10px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    border: none;
}

.modal-basket-buttons
{
    margin-top: 67px;
    display: flex;
    justify-content: center;

    background-color: var(--form-modal-lightgray);
}


